* {
  padding: 0;
  margin: 0;
}
body {
  background-color: #a5b1c2;
}
.container-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}
img {
  width: 200px;
  height: 300px;
  border-radius: 10px;
  border: #a5b1c2 5px ridge;
  margin: 5px;
  object-fit: cover;
}
.card {
  transition: 0.5 ease;
  cursor: pointer;
}
.container:hover > :not(:hover) {
  opacity: 0.3;
}
.card:hover {
  transform: scale(1.1);
}
.container-2 {
  width: 200px;
  height: 350px;
  position: relative;
  transform-style: preserve-3d;
  transform: perspective(1000px);
  animation: gallry 20s linear infinite;
  cursor: pointer;
}
.container-2 span {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transform: rotateY(calc(var(--i) * 45deg)) translateZ(500px);
}
